 
<div class="content-wrapper">
  <div class="card" id="divElement" style="background-color:#F0F8FF">
      <div class="card-header border-transparent">
          <h3 class="card-title"> rate of participation </h3>
          <div id="divchart"><canvas id="myChart"></canvas></div>
      </div>
  </div>
</div>
<div mat-dialog-actions>
  <br/>
  <button type="button" class="btn btn-raised  btn-danger mr-2 btn-raised" style="float:left;margin-right:15px;margin-left:15px"  (click)="onNoClick()">
<i class="ft-x"></i>       {{ 'label.cancel' | translate }}
</button>
 

</div>