.label-search-fr{
  font-size: 0.813rem !important;
}

.label-search-ar{
  font-size: 1.125rem !important;
}

.label-card-header-ar{
  font-size: 1.4rem !important;
  font-weight: bold !important;
}

.label-card-header-fr{
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

//
//label{
//  text-transform: none;
//  letter-spacing: 0px;
//}
//
//mat-label.ng-star-inserted {
//  text-transform: none;
//  letter-spacing: 0px;
//}

.example-full-width{
  width: 100%;
}


.search-card-btn-ar{
  font-size: 1.2rem
}

.search-card-btn-fr{
  font-size: 1rem
}

.rounded-t {
  border-radius: 30px !important;
  height: 1.75rem;
}
.text-class-lang-Ar{
  text-align: right;
}

.text-class-lang-Fr{
  text-align: left;
}




