<div #wrapper class="wrapper" [ngClass]="{
    'nav-collapsed': iscollapsed,
    'menu-collapsed': iscollapsed,
    'sidebar-sm': isSidebar_sm,
    'sidebar-lg': isSidebar_lg
  }" [dir]="options.direction">
    <div #appSidebar appSidebar class="app-sidebar" (toggleHideSidebar)="toggleHideSidebar($event)"
        [ngClass]="{ 'hide-sidebar': hideSidebar }" data-active-color="white" [attr.data-background-color]="bgColor"
        [attr.data-image]="bgImage">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" #sidebarBgImage></div>
    </div>
    <app-navbar (toggleHideSidebar)="toggleHideSidebar($event)"
        (sidebarDirectionEvent)="toggleSideBarDirection($event)">
    </app-navbar>
    <div class="main-panel  scrolling-area">
        <div class="main-content" style="background-color: white !important; width: 100%;">
            <div class="content-wrapper">
                <div class="container-fluid">
                    
                   <app-breadcrumb ></app-breadcrumb> 
                    
                 <!--    [breadcrumbs] = listbreadcumps -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <app-notification-sidebar></app-notification-sidebar>
    <app-customizer (directionEvent)="getOptions($event)"></app-customizer>
    <app-select-date [control]="''" [hidden]="true"></app-select-date>
</div>